@model ShortURL.Models.URLInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_URLShortLayout.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>URL Shortner</title>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>



</head>

<body>

    <div class="container-fluid">
        <div class="row" style="padding-top:80px">
            <div class="col-md-6" style="padding-left:30px; color:#428bca; font-weight:normal">
                @Html.Label("URL Shortner")
            </div>

            <div class="col-md-12" style="text-align:right; padding-right:30px">
                @Html.ActionLink("Long URL Info and Click Count", "Index", "Trackclicks")                
            </div>
        </div>
    </div>



    <div class="container body-content" style="padding-top:30px; margin-left:30px">


        @using (Html.BeginForm("Index", "URLShortner", FormMethod.Post))
        {
        <div class="row">
            <div class="col-md-12">
                <label>Long URL: </label>
                @Html.TextBoxFor(x => x.LongURL, new { style = "width:500px;", @id = "txtLongURL"})
            </div>
            @*<div class="input-group mb-2 mb-sm-0">
            <div class="col-md-12">
                <label>Long URL: </label>
                @Html.TextBoxFor(x => x.LongURL, new { @class = "form-control", @id = "txtInvoiceId" })
            </div>


        </div>*@

        </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-3">

                    <div class="input-group mb-2 mb-sm-0">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>


            </div>

        }

        @if (Model != null)
        {
            <div class="row" style="padding-top:30px">

                @if (Model.ShortURL != null && Model.ShortURL != "")
                {
                    @*<div class="col-md-12" style="overflow-x:auto; overflow-y:auto; height:400px">*@
                <div class="col-md-12">
                    <label>Short URL: </label>
                    @Html.Label(Model.ShortURL, new { @class = "form-control" })
                    <a href=@(Model.ShortURL) target="_blank">Click to Navigate to Short URL.</a>
                </div>
                }
                else
                {
                    <div class="col-md-12">
                        <b>No Details Found.</b>
                    </div>
                }



            </div>
        }


    </div>



</body>
</html>


